body {
    font-family: "Microsoft YaHei" ;
}

#title{
    text-align: center;
    font-size: 120%;
    margin-top: 30px;
}

#showmoney{
    text-align: center;
}

button{

}

#showarea{
    width: 85%;
    min-width: 600px;
    height: 500px;
    border: 1px solid black;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 20px;
    padding: 2.5%;
}

#kitchen{
    height: 25%;
    border-bottom: 2px solid black;
    background-image: url(img/kitchen4.jpg);
    background-repeat: repeat;
    display: flex;
    padding: 3%;
    padding-left: 6%;
    padding-right: 6%;
}

#dininghall{
    height: 45%;
    background-image: url(img/dininghall4.jpg);
    background-repeat: repeat;
    display: flex;
    /* ???????????????????????????没明白 */
    padding: 3%;
    padding-left: 6%;
    padding-right: 6%;
}

#guest{
    flex: 1;
}

#tableimg{
    display: block;
}